<nav>
    <div class="topnav">
        <a href="/previous-fixes-gallery">Previous Fixes / Gallery</a>
        <a href="/">Home</a>
        <a href="/contact-us">Contact Us</a>
    </div>
    <style>
        .topnav {
            margin-bottom: -35px;
            background-color: grey;
            overflow: hidden;
            text-align: center;
        }
        .topnav a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 12px 60px;
        }
        .topnav a:hover {
            background-color: blue;
        }
    </style>
</nav>