<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/nav.ejs") %> 
        <div class="about content">
            <h2>About Us</h2>
            <p>STP Repairs is owned by Sorjen Thomas who is ready to help fix any phone, tablet or computer 
                screen. We want all of our customers to be happily satisfied with their repaired phones
                all while having a happy wallet. We do not go stingy on prices, we tell you how it is upfront.
                <br><br>
                STP Repairs Started in 2021 and has helped out several students at BYUI. We are located locally in 
                Rexburg, Idaho.
                <br><br>
                To get in touch with us click <a href="/contact-us">here</a>
            </p>
        </div>
        <%- include("./partials/footer.ejs") %> 
    </body>
</html>