<html lang="eng">
    <%- include("./partials/head.ejs") %> 
    <%- include("./partials/nav.ejs") %> 
    <div class="containers">
        <body class="main">
            <% let fileServer = "http://127.0.0.1:8887/node-crash-course/STP_Repairs/server1/views/images/" %> 
            <div class="images-content">
                <ul>
                    <li><img src="<%=fileServer%>/IMG_8133.jpg"
                        width="400" height="400"/></li>
                    <li><img src="<%=fileServer%>IMG_8134.jpg"
                        width="400" height="400"/></li>
                </ul>
            </div>
        </body>
    </div>
    <% include("./partials/footer.ejs") %>
    <style>
        body {
            padding:10;
            background-color: lightgrey;
        }
        ul {
            padding: 20;
            text-align: center;
        }
    </style>
</html>