<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/nav.ejs") %> 
        <div class="review content">
            <ul>
                <div>Review 1</div>
                <div>Review 2</div>
                <div>Review 3</div>
                <div>Review 3</div>
                <div>Review 5</div>
            </ul>
        </div>
        <%- include("./partials/footer.ejs") %> 
    </body>
</html>